.main{
    justify-content: center;
    text-align: center;
    display: flex;
    width: auto;
    box-shadow: 2px 2px 10px grey;
    margin-top: 45px;
    padding: 20px;
    background-color: white;
}

h2{
    font-family: "Cairo", sans-serif;
}

input{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 40%;
    padding: 3px;
    font-family: 'cairo' , sans-serif;
    font-size: 15px;
    font-weight: bold;
}

button{
    border: none;
    padding: 10px;
    width: auto;
    font-weight: bold;
    font-size: 15px;
    background-color: #12FF5D;
    cursor: pointer;
    font-family: 'cairo', sans-serif;
    margin-top: 5px;
}

label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: #422ED1;
    font-family: 'cairo', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: tomato;
    font-family: 'cairo', sans-serif;
    font-weight: bold;
}

footer{
    margin-top: 5px;
    text-align: center;
}